/* Estilos Globales y de Cuerpo */
body {
  
  padding-top: 5rem; 
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL */

/* Navbar personalizado */
.navbar.bg-dark {
    border-bottom: 3px solid #66fcf1; 
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/*
  AJUSTE CLAVE: Aumentamos la altura del carrusel de 32rem a 42rem
*/
.carousel-item {
  height: 39rem; 
}
.carousel-item > img {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  height: 39rem; /* O la altura en px que hayas definido (ej. 624px) */
  
  /* ---> ESTAS SON LAS LÍNEAS CLAVE <--- */
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio sin distorsionarse */
  object-position: center center; /* Centra la imagen dentro del contenedor */
}

/* MARKETING CONTENT (Las 3 columnas) */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes */
.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
}


/* RESPONSIVE CSS */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  /*
    AJUSTE RESPONSIVE: Aumentamos la altura del carrusel también en vista media
  */
.carousel-item {
    height: 39rem; 
  }
 .carousel-item > img { 
    height: 39rem; /* O la altura en px que hayas definido */
    object-fit: cover;
    object-position: center center;
    opacity: 0.9  ;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}